<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">

    <title>{{.TitleLong}}</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <h1><a href="/">Books</a> / {{.TitleLong}}</h1>

    <div class="toc-header">Chapters</div>
    <div class="chapters-toc">
        {{range .Chapters}}
        <div class="chapters-toc-item">{{.No}}. <a href="{{.URL}}">{{.Title}}</a></div>
        {{end}}
    </div>

    <div class="toc-header">Table Of Contents</div>

    <div>
        {{range .Chapters}}
        <div>{{.No}}. <a href="{{.URL}}">{{.Title}}</a></div>
        <div>
            {{range .Sections}}
            <div class="toc-section">{{.No}}. <a href="{{.URL}}">{{.Title}}</a></div>
            {{end}}
        </div>
        {{end}}
    </div>

    <div class="bottom-right">
        <a href="https://github.com/kjk/programming-books" target="_blank">GitHub</a>
    </div>
</body>
</html>
