<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">

    <title>{{.Title}}</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <h1><a href="/">Books</a> / <a href="{{.Book.URL}}">{{.Book.TitleLong}}</a> / <a href="{{.Chapter.URL}}">{{.Chapter.Title}}</a> / {{.Title}}</h1>

    <div class="section">
        {{ .BodyHTML }}
    </div>

    <hr class="toc-sep">

    <div class="section-chapter-toc">
        <a href="{{.Chapter.URL}}">{{.Chapter.Title}}</a> / <b>{{.Title}}</b>

        <div class="section-sections-toc">
        {{range .SectionRefs}}
            {{if .IsCurrent}}
                <div><span class="chap-no">{{.No}}.</span> <span class="is-current">{{.Title}}</span></div>
            {{else}}
                <div><span class="chap-no">{{.No}}.</span> <a href="{{.URL}}">{{.Title}}</a></div>
            {{end}}
        {{end}}
        </div>
    </div>

    <div class="top-right">
        <a href="{{.GitHubURL}}" target="_blank">{{.GitHubText}}</a>
    </div>

</body>
</html>
