<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">

    <title>{{.Title}}</title>
    <link href="/main.css" rel="stylesheet">

    {{ if .AnalyticsCode }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.AnalyticsCode}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{.AnalyticsCode}}');
    </script>
    {{ end }}
</head>

<body>
    <h1 class="hdr"><a href="/" class="breadcrumbs__item">Books</a><a href="{{.Book.URL}}" class="breadcrumbs__item">{{.Book.Title}}</a><a href="{{.Chapter.URL}}" class="breadcrumbs__item">{{.Chapter.Title}}</a>{{.Title}}</h1>

    <div class="article">
        {{ .BodyHTML }}
    </div>

    <hr class="toc-sep">

    <div class="article-chapter-toc">
        <a href="{{.Chapter.URL}}">{{.Chapter.Title}}</a> / <b>{{.Title}}</b>

        <div class="article-article-toc">
        {{range .Siblings}}
            {{if .IsCurrent}}
                <div><span class="chap-no">{{.No}}</span> <span class="is-current">{{.Title}}</span></div>
            {{else}}
                <div><span class="chap-no">{{.No}}</span> <a href="{{.URL}}">{{.Title}}</a></div>
            {{end}}
        {{end}}
        </div>
    </div>

    <div class="github-link">
        <a href="{{.GitHubEditURL}}" target="_blank">{{.GitHubText}}</a>
    </div>

</body>
</html>
