<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">

    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@kjk">
    <meta name="twitter:title" content="{{.Title}}">
    <!-- do something else for description -->
    <meta name="twitter:description" content="{{.Title}}">
    <meta name="twitter:creator" content="@kjk">
    <meta name="twitter:image" content="{{.Book.CoverTwitterFullURL}}">
    <!-- do something else for title -->
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{.CanonnicalURL}}" />
    <!-- do something else for description -->
    <meta property="og:description" content="{{.Title}}">
    <meta property="og:image" content="{{.Book.CoverTwitterFullURL}}">

    <title>{{.Title}}</title>
    <link href="/main.css" rel="stylesheet">

    {{ if .AnalyticsCode }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.AnalyticsCode}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{.AnalyticsCode}}');
    </script>
    {{ end }}
    <script src="/font-awesome.min.js"></script>
    <script src="{{.Book.TocSearchJSURL}}"></script>
    <script src="/app.js"></script>
</head>

<body>
    <div id="top-header">
        <div class="top-header-left"><a href="/">Essential Books</a></div>
        <input id="search-input" placeholder="Search Essential {{.Book.Title}}...">
        <div class="top-header-right"><!-- Right Side--></div>
    </div>

    <div id="search-results"></div>

    <div class="content-wrapper">
        <div class="hdr">
            <a href="/" class="breadcrumbs__item"><i class="fas fa-home"></i></a><a href="{{.Book.URL}}" class="breadcrumbs__item">Essential {{.Book.Title}}</a><a href="{{.Chapter.URL}}">{{.Chapter.Title}}</a>
        </div>

        <div class="article">
            <div class="article-hdr">
                <div class="article-contribute">
                    <div class="contribute-btn">
                        <a href="{{.GitHubEditURL}}" target="_blank">
                            <i class="fas fa-edit"></i>
                            {{.GitHubText}}</a>
                    </div>
                    <div class="contribute-btn">
                        &nbsp;
                        &bull;
                        &nbsp;
                   </div>
                    <div class="contribute-btn">
                            <a href="{{.GitHubIssueURL}}" target="_blank">File Issue</a>
                        </div>
                    </div>
                <div>
                    <h1>{{.Title}}</h1>
                </div>
            </div>
            {{ .BodyHTML }}
        </div>

        <hr class="toc-sep">

        <div class="article-chapter-toc">
            <a href="{{.Chapter.URL}}">{{.Chapter.Title}}</a> / <b>{{.Title}}</b>

            <div class="article-article-toc">
            {{range .Siblings}}
                {{if .IsCurrent}}
                    <div>
                        <!--<span class="chap-no">{{.No}}</span> -->
                        <span class="is-current">{{.Title}}</span>
                    </div>
                {{else}}
                    <div>
                        <!-- <span class="chap-no">{{.No}}</span> -->
                        <a href="{{.URL}}">{{.Title}}</a>
                    </div>
                {{end}}
            {{end}}
            </div>
        </div>
    </div>

    <div id="bottom-footer">
        <div>
            Maintained by <a href="https://blog.kowalczyk.info" target="_blank">Krzysztof Kowalczyk</a>
        </div>
        <div class="share-me">
            <a href="https://twitter.com/intent/tweet?text={{.Book.ShareOnTwitterText}}&url={{.Book.CanonnicalURL}}&via=kjk">Share <b>{{.Book.TitleLong}}</b> on <i class="fab fa-twitter"></i></a>
        </div>
        <div>
            <!-- right side. Used to be 'edit github' url -->
        </div>
    </div>

    <div id="blur-overlay"></div>
</body>
</html>
