<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">

    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@kjk">
    <meta name="twitter:title" content="{{.TitleLong}}">
    <!-- do something else for description -->
    <meta name="twitter:description" content="{{.TitleLong}}">
    <meta name="twitter:creator" content="@kjk">
    <meta name="twitter:image" content="{{.CoverTwitterFullURL}}">
    <!-- do something else for title -->
    <meta property="og:title" content="{{.TitleLong}}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{.CanonnicalURL}}" />
    <!-- do something else for description -->
    <meta property="og:description" content="{{.TitleLong}}">
    <meta property="og:image" content="{{.CoverTwitterFullURL}}">

    <title>{{.TitleLong}}</title>
    <link href="/main.css" rel="stylesheet">
    {{ if .AnalyticsCode }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.AnalyticsCode}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{.AnalyticsCode}}');
    </script>
    {{ end }}
    <script src="/font-awesome.min.js"></script>
    <script src="{{.TocSearchJSURL}}"></script>
    <script src="/app.js"></script>

</head>

<body>
    <div id="top-header">
        <div class="top-header-left"><a href="/">Essential Books</a></div>
        <input id="search-input" placeholder="Search {{.TitleLong}}...">
        <div class="top-header-right"><!-- Right Side--></div>
    </div>

    <div id="search-results"></div>

    <div class="content-wrapper">
        <h1 class="hdr"><a href="/" class="breadcrumbs__item"><i class="fas fa-home"></i></a>{{.TitleLong}}</h1>

        <div class="book-img-cover-wrapper">
            <img class="book-img-cover" src="{{.CoverURL}}">
       </div>

        <div class="toc-header">Chapters</div>
        <div class="chapters-toc">
            {{range .Chapters}}
            <div class="chapters-toc-item">
                <!-- <span class="chap-no">{{.No}}</span>-->
                <a href="{{.URL}}">{{.Title}}</a></div>
            {{end}}
        </div>

        <div class="toc-header">Table Of Contents</div>

        <div>
            {{range .Chapters}}
            <div id="chap-{{.No}}">
                <!-- <span class="chap-no">{{.No}}.</span> -->
                <a href="{{.URL}}">{{.Title}}</a></div>
            <div>
                {{range .Articles}}
                <div class="toc-article">
                    <!-- <span class="chap-no">{{.No}}.</span> -->
                    <a href="{{.URL}}">{{.Title}}</a></div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>

    <div id="bottom-footer">
        <div>Maintained by <a href="https://blog.kowalczyk.info" target="_blank">Krzysztof Kowalczyk</a>
        </div>

        <div class="share-me">
            <a href="https://twitter.com/intent/tweet?text={{.ShareOnTwitterText}}&url={{.CanonnicalURL}}&via=kjk">Share <b>{{.TitleLong}}</b> on <i class="fab fa-twitter"></i></a>
        </div>

        <div>
            <a href="{{.GitHubURL}}" target="_blank">
                <i class="fas fa-edit"></i>
                {{.GitHubText}}</a>
        </div>
    </div>

    <div id="blur-overlay"></div>
</body>
</html>
