<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">

    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@kjk">
    <meta name="twitter:title" content="{{.Title}}">
    <!-- do something else for description -->
    <meta name="twitter:description" content="{{.Book.TitleLong}}">
    <meta name="twitter:creator" content="@kjk">
    <meta name="twitter:image" content="{{.Book.CoverTwitterFullURL}}">
    <!-- do something else for title -->
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{.CanonnicalURL}}" />
    <!-- do something else for description -->
    <meta property="og:description" content="{{.Title}}">
    <meta property="og:image" content="{{.Book.CoverTwitterFullURL}}">

    <title>{{.Title}}</title>
    <meta name="description" content="{{.Title}}">

    <link href="{{.PathMainCSS}}" rel="stylesheet"> {{ .Analytics }}
    <script src="{{.PathFontAwesomeJS}}" defer></script>
    <script src="{{.Book.TocSearchJSURL}}" defer></script>
    <script src="{{.PathAppJS}}" defer></script>
</head>

<body class="page">
    {{$currChapterNo:=.CurrentChapterNo}}
    <header class="page__header">
        <div class="page__header__left">
            <a href="/">
                <i class="fas fa-home"></i> Essential Books</a>
        </div>
        <div class="page__header__center">
            <input id="search-input" placeholder="Search Essential {{.Book.Title}}. Tip: press '/'.">
        </div>
        <div class="page__header__right">
        </div>
    </header>

    <div id="toc">
    </div>

    <div class="content">
        <div class="article">
            <div class="article-top-hdr">
                <span>
                    <a href="{{.Book.URL}}">Essential {{.Book.Title}}</a>
                </span>
                <span class="article-contribute">
                    <a href="{{.GitHubEditURL}}" target="_blank">
                        <i class="fas fa-edit"></i>
                        {{.GitHubText}}
                    </a>
                    &nbsp; &nbsp;
                    <a href="{{.GitHubIssueURL}}" target="_blank">
                        <i class="fab fa-github"></i>
                        File Issue</a>
                </span>
            </div>

            <h1 class="title">{{.Title}}</h1>

            {{if .ContributorsHTML}}
            <h2>Contributors</h2>
            <div>
                {{.ContributorsHTML}}
            </div>
            {{end}} {{if .VersionsHTML}}
            <h2>Versions</h2>
            <div>
                {{.VersionsHTML}}
            </div>
            {{end}} {{if .IntroductionHTML}}
            <h2>Introduction</h2>
            <div>
                {{.IntroductionHTML}}
            </div>
            {{end}} {{if .SyntaxHTML}}
            <h2>Syntax</h2>
            <div>
                {{.SyntaxHTML}}
            </div>
            {{end}} {{if .RemarksHTML}}
            <h2>Remarks</h2>
            <div>
                {{.RemarksHTML}}
            </div>
            {{end}} {{if .HTML}} {{.HTML}} {{end}}

            <div class="forum-link">
                <i>Article not clear? Get help or help others in
                    <a href="https://forum.programming-books.io">forum</a>.</i>
            </div>

            <div class="chapter-toc">
                <div>
                    <b>{{.Chapter.Title}}/</b>
                </div>
                <div style="padding-left: 16px">

                    {{range .Articles}}
                    <div>
                        <!--
                            <span class="chap-no">{{.No}}</span>
                        -->
                        <a href="{{.URL}}">{{.Title}}</a>
                    </div>
                    {{end}}
                </div>
            </div>

            <div class="chapter-toc-wrapper">
                <hr class="toc-sep">

                <!--
                <div class="toc-header">{{.Book.TitleLong}}</div>
                -->
                <div class="toc-header">Table Of Contents</div>

                <div class="chapters-toc">
                    {{range .Book.Chapters}} {{if eq $currChapterNo .No}}
                    <div class="chapters-toc-item">
                        <span class="chap-no">{{.No}}</span>
                        <span class="is-current">{{.Title}}</span>
                    </div>
                    {{else}}
                    <div class="chapters-toc-item">
                        <span class="chap-no">{{.No}}</span>
                        <a href="{{.URL}}">{{.Title}}</a>
                    </div>
                    {{end}} {{end}}
                </div>
            </div>
        </div>
    </div>

    <footer class="page__footer">
        <div class="page__footer__left">
            Maintained by
            <a href="https://blog.kowalczyk.info" target="_blank">Krzysztof Kowalczyk</a>
        </div>
        <div class="share-me">
            <a href="https://twitter.com/intent/tweet?text={{.Book.ShareOnTwitterText}}&url={{.Book.CanonnicalURL}}&via=kjk">Share
                <b>{{.Book.TitleLong}}</b> on
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="page__footer__right">
            <!-- right side. Used to be 'edit github' url -->
        </div>
    </footer>

    <!-- aboslutely positioned elements -->
    <div id="search-results-window">
        <div id="search-results">
        </div>
        <div id="search-results-help">
            &nbsp;&nbsp;&uarr; &darr; to navigate &nbsp;&nbsp;&nbsp; &crarr; to select &nbsp;&nbsp;&nbsp; Esc to close
        </div>
    </div>
    <div id="blur-overlay"></div>
</body>

</html>