<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">

    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@kjk">
    <meta name="twitter:title" content="{{.Title}}">
    <!-- do something else for description -->
    <meta name="twitter:description" content="{{.Book.TitleLong}}">
    <meta name="twitter:creator" content="@kjk">
    <meta name="twitter:image" content="{{.Book.CoverFullURL}}">
    <!-- do something else for title -->
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{.CanonnicalURL}}" />
    <!-- do something else for description -->
    <meta property="og:description" content="{{.Title}}">
    <meta property="og:image" content="{{.Book.CoverFullURL}}">

    <title>{{.Title}}</title>
    <link href="/main.css" rel="stylesheet">
    {{ if .AnalyticsCode }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.AnalyticsCode}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{.AnalyticsCode}}');
    </script>
    {{ end }}
    <script src="{{.Book.TocSearchJSURL}}"></script>
    <script src="/app.js"></script>
</head>

<body>
    <div id="top-header">
        <div class="top-header-left"><a href="/">Essential Books</a></div>
        <input id="search-input" placeholder="Search Essential {{.Book.Title}}...">
        <div class="top-header-right"><!-- Right Side--></div>
    </div>

    <div id="search-results"></div>

    <div class="content-wrapper">
        <div class="hdr"><a href="/" class="breadcrumbs__item">Books</a><a href="{{.Book.URL}}">Essential {{.Book.Title}}</a></div>

        <div class="article">
            <h1>{{.Title}}</h1>

            {{if .ContributorsHTML}}
            <h2>Contributors</h2>
            <div>
                {{.ContributorsHTML}}
            </div>
            {{end}}

            {{if .VersionsHTML}}
            <h2>Versions</h2>
            <div>
                {{.VersionsHTML}}
            </div>
            {{end}}

            {{if .IntroductionHTML}}
            <h2>Introduction</h2>
            <div>
                {{.IntroductionHTML}}
            </div>
            {{end}}

            {{if .SyntaxHTML}}
            <h2>Syntax</h2>
            <div>
                {{.SyntaxHTML}}
            </div>
            {{end}}

            {{if .RemarksHTML}}
            <h2>Remarks</h2>
            <div>
                {{.RemarksHTML}}
            </div>
            {{end}}

            {{if .BodyHTML}}
            {{.BodyHTML}}
            {{end}}

            <div class="chapter-toc">
                {{range .Articles}}
                <div>
                    <!-- <span class="chap-no">{{.No}}</span> -->
                    <a href="{{.URL}}">{{.Title}}</a>
                </div>
                {{end}}
            </div>
        </div>
        <hr class="toc-sep">

        <div class="chapter-toc-wrapper">
            <div class="toc-header">{{.Book.TitleLong}}</div>

            <div class="chapters-toc">
            {{range .Book.Chapters}}
                {{if .IsCurrent}}
                    <div class="chapters-toc-item">
                        <!-- <span class="chap-no">{{.No}}</span>  -->
                        <span class="is-current">{{.Title}}</span>
                    </div>
                {{else}}
                    <div class="chapters-toc-item">
                        <!-- <span class="chap-no">{{.No}}</span> -->
                        <a href="{{.URL}}">{{.Title}}</a>
                    </div>
                {{end}}
            {{end}}
            </div>
        </div>
    </div>

    <div id="bottom-footer">
        <div>Maintained by <a href="https://blog.kowalczyk.info" target="_blank">Krzysztof Kowalczyk</a>
        </div>
        <div class="share-me">
            Share "{{.Book.TitleLong}}" <a href="https://twitter.com/intent/tweet?text={{.Book.ShareOnTwitterText}}&url={{.Book.CanonnicalURL}}&via=kjk">on Twitter</a>
        </div>
        <div>
            <a href="{{.GitHubEditURL}}" target="_blank">{{.GitHubText}}</a>
        </div>
    </div>

    <div id="blur-overlay"></div>
</body>
</html>