<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always">

    <title>{{.Title}}</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <h1>
        <a href="/">Books</a> /
        <a href="{{.Book.URL}}">{{.Book.Title}}</a> / {{.Title}}
    </h1>

    {{if .ContributorsHTML}}
    <h2>Contributors</h2>
    <div>
        {{.ContributorsHTML}}
    </div>
    {{end}}

    {{if .VersionsHTML}}
    <h2>Versions</h2>
    <div>
        {{.VersionsHTML}}
    </div>
    {{end}}

    {{if .IntroductionHTML}}
    <h2>Introduction</h2>
    <div>
        {{.IntroductionHTML}}
    </div>
    {{end}}

    {{if .SyntaxHTML}}
    <h2>Syntax</h2>
    <div>
        {{.SyntaxHTML}}
    </div>
    {{end}}

    {{if .RemarksHTML}}
    <h2>Remarks</h2>
    <div>
        {{.RemarksHTML}}
    </div>
    {{end}}

    <div class="chapter-toc">
        {{range .Articles}}
        <div><span class="chap-no">{{.No}}.</span> <a href="{{.URL}}">{{.Title}}</a>
        </div>
        {{end}}
    </div>

    <hr class="toc-sep">

    <div class="chapter-toc-wrapper">
        <div class="toc-header">{{.Book.TitleLong}}</div>

        <div class="chapters-toc">
            {{range .Book.Chapters}}
                {{if .IsCurrent}}
                    <div class="chapters-toc-item">
                            <span class="chap-no">{{.No}}.</span> <span class="is-current">{{.Title}}</span>
                    </div>
                {{else}}
                    <div class="chapters-toc-item">
                        <span class="chap-no">{{.No}}.</span> <a href="{{.URL}}">{{.Title}}</a>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>

    <div class="top-right">
        <a href="{{.GitHubEditURL}}" target="_blank">{{.GitHubText}}</a>
    </div>

</body>

</html>