body {
  /* github font see http://markdotto.com/2018/02/07/github-system-fonts/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: rgb(35, 35, 35);
  margin: 0;
  padding: 0;
}

/* prevent overscroll https://stackoverflow.com/questions/12046315/prevent-overscrolling-of-web-page */
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.page {
  display: grid;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
  "header   header"
  "toc      content"
  "footer   footer";

  height: 100vh;
}

.page__header {
	grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 8px 16px;
  background-color: #f5f5f5;
}

/* set left and right to be the same size so that
  middle gets y-centered */
.page__header__left {
  width: 180px;
}

.page__header__right {
  width: 180px;
  text-align: right;
}

.page__footer {
  grid-area: footer;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-size: 0.8em;
  padding: 4px 16px;
  background-color: #f5f5f5;
}

/* set min size of left / right so that midde is v-centered */
.page__footer__left {
  min-width: 240px;
}

.page__footer__right {
  min-width: 240px;
  text-align: right;
}

.content {
  grid-area: content;
  overflow-y: scroll;
}

#toc {
	grid-area: toc;
  overflow-y: scroll;

  margin-top: 8px;
  margin-bottom: 8px;

  padding-left: 8px;
  padding-right: 8px;

  min-width: 120px;
  max-width: 240px;

  font-size: 0.8em;
  line-height: 1.3em;
}

#toc a {
  color: #646464;
  color: #686868;
  color: #686868c9;
}

#toc div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#toc div:hover {
  background-color:#e5e5e5;
}

.article {
  max-width: 660px;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.book-body {
  max-width: 100vw;
  padding: 0px 16px;
}

/* hide by default, show when small width */
.chapter-toc-wrapper {
  display: none;
}

.bold {
  font-weight: bold;
}

/* TODO: setup forum */
.forum-link {
  color: gray;
  font-size: 0.8em;
  padding-bottom: 16px;
  display: block;
  display: none; /* disabled for now */
}

@media screen and (max-width: 780px) {
  .article {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    }
  #toc {
    display: none;
  }

  .chapter-toc-wrapper {
    display: block;
  }
}

.page__header__center {
  width: 50vw;
}

#search-input {
  width: 100%;
  font-size: 16px;
  padding: 2px 8px;
  background-color: white;
  /* filter: opacity(1); */
  /* border-color: #717274; */
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  border: 1px solid silver;
  /* box-shadow: inset 0 0 0 0 transparent; */
  outline: 0;
  z-index: 25;
}

#search-input:hover {
  border-color: #a0a0a0;
}

#search-input::placeholder {
  color: #aaaaaa;
}

/* trick to make placeholder invisible when input field is focused */
#search-input:focus::placeholder {
  color: white;
}

/* no blue border when focused */
#search-input:focus {
  /* border: 1px solid lightskyblue; */
  /* border: 1px solid #aaaaaa; */
  border-color: #a0a0a0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* for very small screens (i.e. phones) remove rarely needed elements */
@media screen and (max-width: 500px) {
  .page__footer {
    display: none;
  }
  .page__header__left {
    display: none;
  }
  .page__header__right {
    display: none;
  }
  .article-contribute {
    display: none;
  }
  /* TODO: not centered perfectly */
  .page__header__center {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    padding-left: 4px;
    padding-right: 4px;
  }
}

#toc .lvl1 {
  padding-left: 1em;
}

#toc .lvl2 {
  padding-left: 2em;
}

  #toc .lvl3 {
  padding-left: 3em;
}

/*
.article div {
  width: 660px;
}

.article p {
  width: 660px;
}

.article pre {
  width: 660px;
}
*/

/* TODO: for code div, set min-width to 660px */

.article-contribute {
  float: right;
}

/*
.article {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}
*/

tr:nth-child(even) {
  background-color: #eee;
}

.article table {
  font-size: 0.85em;
}

td, th {
  padding: .5em 1em;
  text-align: left;
  /* vertical-align: top; */
}

/*th {
  vertical-align: bottom;
}*/

th:not(:first-child):not(:last-child),
td:not(:first-child):not(:last-child) {
  padding: 0 10px;
}

tbody tr td.with-decimal {
  padding-left: 10px !important;
  padding-right: 0px !important;
}

tbody tr td.decimal {
  padding-left: 0 !important;
  padding-right: 10px !important;
}

.article-top-hdr {
  font-size: 0.8em;
}

.light {
  color: gray;
}

.chap-no {
  color: lightslategray;
  display: inline-block;
  width: 2em;
}

.is-current {
  font-weight: bold;
}

.mt32 {
  margin-top: 32px;
}
.mt16 {
  margin-top: 16px;
}

.fs0p8em {
  font-size: 0.8em;
}

.book-name {
  padding-right: 32px;
  padding-left: 0px;
}

table.book-list th {
  padding-right: 16px;
}

.article blockquote {
  border-left: 2px solid rgb(203, 203, 203);
  padding-left: 8px;
  margin-left: 16px;
}

.toc-article {
  padding-left: 1em;
}

.toc-header {
  margin-top: 16px;
  padding-bottom: 8px;
  font-size: 1em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.blue {
  color: rgb(138, 178, 219);
}

a.blue:hover {
  color: #4183c4;
}

.covers {
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cover-img-wrapper {
  margin-bottom: 16px;
}

.img-cover {
  width: 256px;
  height: 363px;
  transition: all 0.1s ease-in-out;
}

.img-cover:hover {
  transform: scale(1.05);
  border: 1px solid lightgray;
}

.book-img-cover-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.book-img-cover {
  width: 20%;
  height: 20%;
}

#blur-overlay {
  display: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#search-results-window {
  position: fixed;
  top: 28px;
  width: 74vw;
  left: 13vw; /* (100 - 74) / 2 */
  right: 13vw;

  border: 1px solid #aaaaaa;
  z-index: 25;

  /* min-height: 320px; */
  background-color: white;
  display: none;
}

#search-results {
  max-height: 70vh;
  padding: 4px 8px;
  line-height: 1.3em;
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: hidden;
}

#search-results-help {
  color: #717274;
  background-color: #f9f9f9;
  padding: 8px 8px;
  font-size: 0.7em;
}

.search-result-selected {
  background-color: #eeeeee;
}

.search-result-in {
  font-size: 0.7em;
  color: #1481b8;
}

.no-search-results {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #dddddd; */
  text-align: center;
}

/* higlight search results with yellow-ish background */
.hili {
  /* font-weight: bold; */
  /*padding: 1px 2px; */
  /* background: #ffeb3b; */
  background: rgba(255, 235, 59, 0.6);
  /* border-radius: 2px; */
  /* font-weight: bold; */
  /* background-color: lightskyblue; */
}

.article code {
  background-color: #f8f8f8;
  background-color: #f5f2f0;
}

/* styling inspired by http://gameprogrammingpatterns.com/dirty-flag.html#local-and-world-transforms
*/
.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
  color: #1481b8;
  /* border-left: solid 8px #d9eaf2;
    padding-left: 8px; */
}

h1.title {
  margin-top: 10px;
}

hr.toc-sep {
  border: 1px solid rgba(1, 1, 1, 0.1);
  border-style: dashed;
  margin-top: 24px;
  margin-bottom: 8px;
}

.chapter-toc {
  /*
  padding-top: 1em;
  background: #f4f4f4;
  padding: 4px 8px;
  margin-left: -8px;
  */
  font-size: 0.9em;
}

.chapters-toc {
  /* font-size: 0.8em; */
  columns: 6; /* for sizes over 1200px */
  font-size: 0.8em;
}

.view-switch {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 0.9em;
}

/* TODO: possibly tweak those breakpoints e.g. add a column every 240px? */
@media (max-width: 1600px) {
  .chapters-toc {
    columns: 5;
  }
}

@media (max-width: 1280px) {
  .chapters-toc {
    columns: 4;
  }
}

@media (max-width: 960px) {
  .chapters-toc {
    columns: 3;
  }
}

@media (max-width: 640px) {
  .chapters-toc {
    columns: 2;
  }
}

@media (max-width: 320px) {
  .chapters-toc {
    columns: 1;
  }
}

.breadcrumbs__item:after {
  content: "\2192";
  font-family: Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif;
  color: #a9a9a9;
  display: inline-block;
  margin: 0 0px 0 4px;
}

.hcenter {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

/* dim toc on a book chapter page, to de-emphasize it visually, until user
   hovers over the element */
.chapter-toc-wrapper {
  filter: opacity(0.6);
}

.chapter-toc-wrapper:hover {
  filter: opacity(1);
}

/* this allows to position child absolutely */
.code-box {
  font-size: 85%;
  background-color: #fafafa;
  /* color: #657b83; */
  /* border: 1px solid #e5e5e5; */
  /*
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  */
  overflow-x: visible;
}

pre.chroma {
  display: block;
  overflow-x: auto;
  tab-size: 2;
  margin: 0px;
  padding: 0.5em;
}

/* box that potentially displays file name linking to github and 'run' button for playground */
.code-box {
  padding-bottom: 2px;
  margin-bottom: 1em;
}

.code-box-nav {
  display: inline-block;
  background-color: #fafafa;
  transform: translateY(3px);
}

.code-box-nav a {
  color: gray;
  text-decoration: none;
}

.code-box-nav a:hover {
  color: black;
  text-decoration: none;
}

.code-box-playground {
  margin: 0;
  padding: 0px 8px;
  background: white;
  margin-right: 8px;
  display: inline-block;
}

.code-box-playground:hover {
  background-color: white;
}

.code-box-github {
  margin: 0;
  padding: 0px 8px;
  display: inline-block;
  background: white;
}

.code-box-github:hover {
  background-color: white;
}

/*
Source higligh from chroma https://github.com/alecthomas/chroma
*/
.chroma {
  color: #272822;
  background-color: #fafafa;
}
.chroma .err {
  color: #960050;
  background-color: #dfdfdf;
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  overflow: auto;
  display: block;
}
.chroma .hl {
  display: block;
  width: 100%;
}
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  display: block;
}
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}
.chroma .k {
  color: #00a8c8;
}
.chroma .kc {
  color: #00a8c8;
}
.chroma .kd {
  color: #00a8c8;
}
.chroma .kn {
  color: #f92672;
}
.chroma .kp {
  color: #00a8c8;
}
.chroma .kr {
  color: #00a8c8;
}
.chroma .kt {
  color: #00a8c8;
}
.chroma .n {
  color: #111111;
}
.chroma .na {
  color: #75af00;
}
.chroma .nb {
  color: #111111;
}
.chroma .bp {
  color: #111111;
}
.chroma .nc {
  color: #75af00;
}
.chroma .no {
  color: #00a8c8;
}
.chroma .nd {
  color: #75af00;
}
.chroma .ni {
  color: #111111;
}
.chroma .ne {
  color: #75af00;
}
.chroma .nf {
  color: #75af00;
}
.chroma .fm {
  color: #111111;
}
.chroma .nl {
  color: #111111;
}
.chroma .nn {
  color: #111111;
}
.chroma .nx {
  color: #75af00;
}
.chroma .py {
  color: #111111;
}
.chroma .nt {
  color: #f92672;
}
.chroma .nv {
  color: #111111;
}
.chroma .vc {
  color: #111111;
}
.chroma .vg {
  color: #111111;
}
.chroma .vi {
  color: #111111;
}
.chroma .vm {
  color: #111111;
}
.chroma .l {
  color: #ae81ff;
}
.chroma .ld {
  color: #d88200;
}
.chroma .s {
  color: #d88200;
}
.chroma .sa {
  color: #d88200;
}
.chroma .sb {
  color: #d88200;
}
.chroma .sc {
  color: #d88200;
}
.chroma .dl {
  color: #d88200;
}
.chroma .sd {
  color: #d88200;
}
.chroma .s2 {
  color: #d88200;
}
.chroma .se {
  color: #8045ff;
}
.chroma .sh {
  color: #d88200;
}
.chroma .si {
  color: #d88200;
}
.chroma .sx {
  color: #d88200;
}
.chroma .sr {
  color: #d88200;
}
.chroma .s1 {
  color: #d88200;
}
.chroma .ss {
  color: #d88200;
}
.chroma .m {
  color: #ae81ff;
}
.chroma .mb {
  color: #ae81ff;
}
.chroma .mf {
  color: #ae81ff;
}
.chroma .mh {
  color: #ae81ff;
}
.chroma .mi {
  color: #ae81ff;
}
.chroma .il {
  color: #ae81ff;
}
.chroma .mo {
  color: #ae81ff;
}
.chroma .o {
  color: #f92672;
}
.chroma .ow {
  color: #f92672;
}
.chroma .p {
  color: #111111;
}
.chroma .c {
  color: #75715e;
}
.chroma .ch {
  color: #75715e;
}
.chroma .cm {
  color: #75715e;
}
.chroma .c1 {
  color: #75715e;
}
.chroma .cs {
  color: #75715e;
}
.chroma .cp {
  color: #75715e;
}
.chroma .cpf {
  color: #75715e;
}
.chroma .ge {
  font-style: italic;
}
.chroma .gs {
  font-weight: bold;
}

/*
https://github.com/FortAwesome/Font-Awesome/blob/master/svg-with-js/css/fa-svg-with-js.css
*/
/*!
 * Font Awesome Free 5.0.6 by @fontawesome - http://fontawesome.com
 * License - http://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}

.svg-inline--fa.fa-w-1 {
  width: 0.0625em;
}
.svg-inline--fa.fa-w-2 {
  width: 0.125em;
}
.svg-inline--fa.fa-w-3 {
  width: 0.1875em;
}
.svg-inline--fa.fa-w-4 {
  width: 0.25em;
}
.svg-inline--fa.fa-w-5 {
  width: 0.3125em;
}
.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}
.svg-inline--fa.fa-w-7 {
  width: 0.4375em;
}
.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}
.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}
.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}
.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}
.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}
.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}
.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}
.svg-inline--fa.fa-pull-left {
  margin-right: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-pull-right {
  margin-left: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-border {
  height: 1.5em;
}
.svg-inline--fa.fa-li {
  width: 2em;
}
.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -0.125em;
  width: 1em;
}
.fa-layers svg.svg-inline--fa {
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.fa-layers-text,
.fa-layers-counter {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: 0.25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-xs {
  font-size: 0.75em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: 0.3em;
}

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
  filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2em;
}

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1em;
}

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2em;
}

.fa-inverse {
  color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
