body {

    /* font-family: 'Open Sans', sans; */

    /* stack overflow font */
    /* font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; */

    /* github font see http://markdotto.com/2018/02/07/github-system-fonts/ */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 16px;
    color: rgb(35, 35, 35);

    margin: 20px;
}

td { vertical-align: top; }

th:not(:first-child):not(:last-child), td:not(:first-child):not(:last-child) {
    padding: 0 10px;
}

th {
    vertical-align: bottom;
}
thead th {
    border-bottom: 1px solid #ccc;
}

tbody tr td.with-decimal {
padding-left:10px !important;
padding-right:0px !important;
}

tbody tr td.decimal {
padding-left:0 !important;
padding-right:10px !important;
}

/* h1 by default is 2em, we want something smaller */
h1.hdr {
    font-size: 0.8em;
}

div.hdr {
    font-size: 0.8em;
}

.light {
    color: gray;
}

.chap-no {
    color: lightslategray;
    display: inline-block;
    width: 2em;
}

.is-current {
    font-weight: bold;
}

.mt32 {
    margin-top: 32px;
}
.mt16 {
    margin-top: 16px;
}

.fs0p8em {
    font-size: 0.8em;
}


.book-name {
    padding-right: 32px;
}

table.book-list th {
    padding-right: 16px;
}

.article blockquote {
    border-left: 2px solid rgb(74, 117, 236);
    padding-left: 8px;
    margin-left: 16px;
}

.toc-article {
    padding-left: 1em;
}

.toc-header {
    margin-top: 16px;
    padding-bottom: 8px;
    font-size: 1em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.blue {
    color: rgb(138, 178, 219);
}

a.blue:hover {
    color: #4183c4;
}

#top-header {
    position: fixed;
    z-index: 2;
    top: 0px;
    /* same as body margin */
    left: 20px;
    right: 20px;
    height: 32px;
    /* background-color: lightcyan; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
}

/*
we make top-header-left and top-header-right the same size so that search
input field is centered. We could also center with fixed positioning
or use grid for top-header instead of flexbox.
*/
.top-header-left {
    width: 160px;
}

.top-header-right {
    width: 160px;
}

#bottom-footer {
    position: fixed;
    bottom: 0px;
    left: 20px;
    right: 20px;
    height: 28px;
    background-color: white;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.content-wrapper {
    /* make space for top-header */
    margin-top: 40px;
    /* make space for bottom-footer */
    margin-bottom: 36px;
}

.covers {
    padding-top: 16px;
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cover-img-wrapper {
    margin-bottom: 16px;
}

.img-cover {
    width: 256px;
    height: 363px;
    transition: all .1s ease-in-out;
}

.img-cover:hover {
    transform: scale(1.05);
    border: 1px solid blue;
}

.book-img-cover-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.book-img-cover {
    width: 20%;
    height: 20%;
}

#blur-overlay {
    display: none;
    z-index: 10;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#search-input {
    width: 50vw;
    font-size: 14px;
    padding: 2px 8px;
    border-radius: .25rem;
    background-color: white;
    filter: opacity(1);
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: inset 0 0 0 0 transparent;
    outline: 0;
    z-index: 25;
}

/* no blue border when focused */
#search-input:focus {
    /* border: 1px solid lightskyblue; */
    border: 1px solid #aaaaaa;
}

#search-results {
    position: fixed;
    top: 28px;
    width: 74vw;
    left: 13vw; /* (100 - 74) / 2 */
    right: 13vw;
    border: 1px solid black;

    border-radius: .25rem;
    border: 1px solid #aaaaaa;
    z-index: 25;

    /* min-height: 320px; */
    max-height: 75vh;
    background-color: white;
    display: none;
    padding: 4px 8px;
    line-height: 1.3em;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-result-selected {
    background-color:#EEEEEE;
}

.no-search-results {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #dddddd; */
    text-align: center;
}

/* higlight search results with yellow-ish background */
.hili {
    /* font-weight: bold; */
    /*padding: 1px 2px; */
    /* background: #ffeb3b; */
    background: rgba(255,235,59, 0.6);
    /* border-radius: 2px; */
    /* font-weight: bold; */
    /* background-color: lightskyblue; */
}


.github-link {
    font-size: 0.8em;
    position: fixed;
    right: 18px;
    top: 62px;
    padding: 4px 8px;
    border: 1px solid #666;
}

.github-link:hover {
    background-color: #f1f1f1;
}

.github-link-small {
    font-size: 0.6em;
    position: fixed;
    right: 18px;
    top: 38px;
    padding: 4px 8px;
    border: 1px solid #666;
}

.github-link-small:hover {
    background-color: #f1f1f1;
}

.article-contribute {
    font-size: 0.8em;
    float: right;
}

.contribute-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.article {
    border: 1px solid ligthgray;
}

.article_title {
    font-weight: bold;
}

.article code {
    background-color: #f8f8f8;
    background-color: #f5f2f0;
}

/* styling inspired by http://gameprogrammingpatterns.com/dirty-flag.html#local-and-world-transforms
*/
.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
    color: #1481b8;
    /* border-left: solid 8px #d9eaf2;
    padding-left: 8px; */

}

hr.toc-sep {
    border: 1px solid rgba(1,1,1,0.1);
    border-style: dashed;
    margin-top: 24px;
    margin-bottom: 8px;
}

.chapter-toc {
    background-color: white;
    padding-top: 1em;
}

.chapters-toc {
    /* font-size: 0.8em; */
    columns: 6; /* for sizes over 1200px */
}

.view-switch {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.9em;
}

/* TODO: possibly tweak those breakpoints e.g. add a column every 240px? */
@media (max-width: 1600px) {
    .chapters-toc {
        columns: 5;
    }
}

@media (max-width: 1280px) {
    .chapters-toc {
        columns: 4;
    }
}

@media (max-width: 960px) {
    .chapters-toc {
        columns: 3;
    }
}

@media (max-width: 640px) {
    .chapters-toc {
        columns: 2;
    }
}

@media (max-width: 320px) {
    .chapters-toc {
        columns: 1;
    }
}

.article-chapter-toc {
    background-color: white;
    margin-top: 16px;
    filter: opacity(0.6)
}

.article-chapter-toc:hover {
    filter: opacity(1)
}


.article-article-toc {
    padding-top: 8px;
    padding-left: 8px;
}

.breadcrumbs__item:after {
    content: "\2192";
    font-family: Lucida Grande,Lucida Sans Unicode,Arial,Helvetica,sans-serif;
    color: #a9a9a9;
    display: inline-block;
    margin: 0 9px 0 7px;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

/* dim toc on a book chapter page, to de-emphasize it visually, until user
   hovers over the element */
.chapter-toc-wrapper {
    filter: opacity(0.6);
}

.chapter-toc-wrapper:hover {
    filter: opacity(1)
}

.chapters-toc-item {
    /* background-color: #fcfcfc; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

pre.chroma {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background-color: #fdfdfd;
    color: #657b83;
    border: 1px solid #e5e5e5;
    overflow-x: visible;
    font-size: 85%;
    tab-size: 2;
}

/* this allows to position child absolutely */
.code-box {
    position: relative;
}

/* box that potentially displays file name linking to github and 'run' button for playground */
.code-box-nav {
    position: absolute;
    top: 0;
    right: 0;
}

.code-box-github {
    border: 1px solid #a4a4a4;
    padding: 4px 8px;
    margin: 0;
    display: inline-block;
}

.code-box-github a {
    text-decoration: none;
}

.code-box-github a:hover {
    text-decoration: underline;
}

.code-box-playground {
    border: 1px solid #a4a4a4;
    padding: 4px 8px;
    margin: 0;
    margin-right: -6px; /* no idea why I need this */
    display: inline-block;
}

.code-box-playground a {
    text-decoration: none;
}

.code-box-playground a:hover {
    text-decoration: underline;
}

/* Background */ .chroma { color: #272822; background-color: #fafafa }
/* Error */ .chroma .err { color: #960050; background-color: #dfdfdf }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100% }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #00a8c8 }
/* KeywordConstant */ .chroma .kc { color: #00a8c8 }
/* KeywordDeclaration */ .chroma .kd { color: #00a8c8 }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #00a8c8 }
/* KeywordReserved */ .chroma .kr { color: #00a8c8 }
/* KeywordType */ .chroma .kt { color: #00a8c8 }
/* Name */ .chroma .n { color: #111111 }
/* NameAttribute */ .chroma .na { color: #75af00 }
/* NameBuiltin */ .chroma .nb { color: #111111 }
/* NameBuiltinPseudo */ .chroma .bp { color: #111111 }
/* NameClass */ .chroma .nc { color: #75af00 }
/* NameConstant */ .chroma .no { color: #00a8c8 }
/* NameDecorator */ .chroma .nd { color: #75af00 }
/* NameEntity */ .chroma .ni { color: #111111 }
/* NameException */ .chroma .ne { color: #75af00 }
/* NameFunction */ .chroma .nf { color: #75af00 }
/* NameFunctionMagic */ .chroma .fm { color: #111111 }
/* NameLabel */ .chroma .nl { color: #111111 }
/* NameNamespace */ .chroma .nn { color: #111111 }
/* NameOther */ .chroma .nx { color: #75af00 }
/* NameProperty */ .chroma .py { color: #111111 }
/* NameTag */ .chroma .nt { color: #f92672 }
/* NameVariable */ .chroma .nv { color: #111111 }
/* NameVariableClass */ .chroma .vc { color: #111111 }
/* NameVariableGlobal */ .chroma .vg { color: #111111 }
/* NameVariableInstance */ .chroma .vi { color: #111111 }
/* NameVariableMagic */ .chroma .vm { color: #111111 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #d88200 }
/* LiteralString */ .chroma .s { color: #d88200 }
/* LiteralStringAffix */ .chroma .sa { color: #d88200 }
/* LiteralStringBacktick */ .chroma .sb { color: #d88200 }
/* LiteralStringChar */ .chroma .sc { color: #d88200 }
/* LiteralStringDelimiter */ .chroma .dl { color: #d88200 }
/* LiteralStringDoc */ .chroma .sd { color: #d88200 }
/* LiteralStringDouble */ .chroma .s2 { color: #d88200 }
/* LiteralStringEscape */ .chroma .se { color: #8045ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #d88200 }
/* LiteralStringInterpol */ .chroma .si { color: #d88200 }
/* LiteralStringOther */ .chroma .sx { color: #d88200 }
/* LiteralStringRegex */ .chroma .sr { color: #d88200 }
/* LiteralStringSingle */ .chroma .s1 { color: #d88200 }
/* LiteralStringSymbol */ .chroma .ss { color: #d88200 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Punctuation */ .chroma .p { color: #111111 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericStrong */ .chroma .gs { font-weight: bold }